/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
  --branding-color: purple;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #b7aafb;
  --bg-color: rgba(290, 200, 228, 0.25);
}
body {
  background-color: white;
}

.logo {
  max-height: 40px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav a {
  color: #272142;
  transition: all 100ms ease-in-out;
}
.active,
nav a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  font-size: 16px;
  margin-left: 10px;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
  color: var(--secondary-color);
}
.content-container {
  padding: 160px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content {
  margin: 30px;
}

.content h3 {
  line-height: 1.5;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 47px;
}

p {
  font-size: 16px;
  line-height: 30px;
}

h3,
p {
  font-family: var(--default-font-family);
  font-weight: normal;
}

.hero {
  background-color: var(--bg-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-size: 24px;
  line-height: 2;
  color: (--branding-color);
  font-family: var(--default-font-family);
}

.hero h3 {
  font-size: 16px;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  background: white;
  color: var(--branding-color);
}

.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 30px 0px;
}

footer {
  margin: 40px 0;
}

footer .email-link {
  text-align: center;
  text-decoration: none;
  color: #272142;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--secondary-color);
}
footer .social-links a:hover {
  color: var(--secondary-color);
  border: solid 1px;
  border-color: var(--secondary-color);
  background-color: white;
}

footer .social-links a {
  font-size: 28px;
  margin: 0 10px;
  color: darkseagreen;
  background-color: var(--bg-color);
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 120ms ease-in-out;
}

@media (max-width: 960px) {
  nav li {
    font-size: 13px;
  }

  h1 {
    font-size: 45px;
    line-height: 2;
  }

  h2 {
    font-size: 30px;
  }
  .hero {
    padding: 80px 20px 45px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .btn-branding {
    font-size: 18px;
    line-height: 25px;
    padding: 15px 20px;
    margin-top: 15px;
  }

  .m-5 {
    margin: 20px !important;
  }
  .mb-5 {
    margin-bottom: 10px !important;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .content img {
    max-width: 350px;
  }

  .content h1 {
    font-size: 60px;
  }

  footer .social-links a {
    font-size: 18px;
  }
}
